@model TransactionViewModel
@{
    ViewData["Title"] = "My ATM";
}

<div>
    <h1 class="display-4">Welcome, @Model.Customer.Name</h1>

    <h3>Make a Transaction</h3>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @* ReSharper disable once UnknownCssClass *@
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<TransactionType>().Take((int)TransactionType.Transfer)" class="form-control"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @* ReSharper disable once UnknownCssClass *@
                    <label asp-for="FromAccount" class="control-label"></label>
                    <select asp-for="FromAccount" class="form-control">
                        @foreach (Account account in Model.Customer.Accounts)
                        {
                            <option value="@account.AccountNumber">@account.AccountType.ToString() Balence: @account.Balance.ToString("0.00")</option>
                        }
                    </select>
                    <span asp-validation-for="FromAccount" class="text-danger"></span>

                </div>
                <div class="form-group">
                    @* ReSharper disable once UnknownCssClass *@
                    <label asp-for="ToAccount" class="control-label">Transfer to</label>
                    <select asp-for="ToAccount" class="form-control">
                        <option value="0" selected>Select an Account only for transfer</option>
                        @foreach (Customer customer in Model.Customers)
                        {

                            <optgroup label="@customer.Name">
                                @foreach (Account account in customer.Accounts)
                                {
                                    <option value="@account.AccountNumber">@customer.Name.Split(' ')[0]'s @account.AccountType.ToString()</option>
                                }
                            </optgroup>

                        }
                    </select>
                    <span asp-validation-for="ToAccount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @* ReSharper disable once UnknownCssClass *@
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @* ReSharper disable once UnknownCssClass *@
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Confirm" class="btn btn-primary" />
                    <a asp-action="index" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>
