@model IEnumerable<NwbaExample.Models.Bill>

@{
    ViewData["Title"] = "My Bills";
}

<h1>My Bills <a asp-action="Create" class="btn btn-primary">Add a Bill</a></h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Bill Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Status.ToString().ToUpper()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payee.PayeeName)
                </td>
                <td>
                    A$@Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td>
                    @if (item.Status != BillStatus.Deactivated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.BillID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.BillID" class="btn btn-primary">Delete</a>
                    }
            </td>
        </tr>
    }
    </tbody>
</table>
